#version=DEVEL
ignoredisk --only-use=sda
iscsiname iqn.1994-05.com.redhat:46a93490da59
autopart
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
cmdline
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br'
# System language
lang en_US.UTF-8

# Network information
# network  --hostname=localhost.localdomain
network  --bootproto=static --device=enp0s3 --gateway=192.168.1.254 --hostname=fdocker00.local --ip=192.168.1.172 --nameserver=192.168.1.254 --netmask=255.255.255.0 --ipv6=auto --activate
# network  --bootproto=static --device=ens33 --ip=192.168.52.129 --nameserver=192.168.52.1 --netmask=255.255.255.0 --ipv6=auto --activate
# Root password
rootpw vagrant
sshpw --username=root "vagrant" --plaintext
# user --groups=wheel --name=vagrant --password=$6$Fqv9BzlIif3RQ5I8$bGDp7mo7zOuo1FpwSaRSOSq6MWgNgV55pS.RGGODhw0CiAX8SeMOXHDFVkmeyp/FW1BkLb.GErgruj9XanOH4. --iscrypted --gecos="vagrant"
user --groups=wheel --name=vagrant --password="vagrant" --gecos="vagrant"
# Reboot Automagic
reboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# System timezone
timezone America/Belem --isUtc --nontp

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
